@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #1f2937;
    padding-top: 9rem;
}

.title {
    font-weight: 800;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.8rem;
    color: #f9faf8;
}

h2 {
    font-size: 3.6rem;
    color: #1f2937;
}

h3 {
    color: #f9faf8;
    font-size: 2.4rem;
}

button {
    font-size: 1.8rem;
    font-weight: bold;
    color: #e5e7eb;
    transition: 0.3s;
}

header {
    height: 7rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #1f2937;
    color: #f9faf8;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 20rem;
}

footer {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 20rem;
}

footer p {
    color: #f9faf8;
}

ul, li {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: #e5e7eb;
    transition: 0.3s;
  }

  a:hover {
    color: #09814A;
  }

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: underline;
    text-decoration-color: #09814A;
    text-underline-offset: 0.6rem;
    font-size: 2.4rem;
}

.hero-wrapper {
    background: #1f2937;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10rem 20rem;
    gap: 4rem;
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 45%;
    max-height: 100%;
    height: auto;
    border-radius: 0.8rem;
}

.hero-text {
    margin-bottom: 4rem;
}

.hero-text > p {
    color: #f9faf8;
}

.primary-button {
    border: 0.2rem solid #09814A;
    border-radius: 0.8rem;
    background: #09814A;
    padding: 0.8rem 2.5rem;
}

.primary-button:hover {
    border-color: #f9faf8;
    background: #f9faf8;
    color: #09814A;
}

#products {
    background: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 4rem 20rem;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5rem;
    width: auto;
}

.box {
    flex: 1;
    /*
        flex: only applicable to flexbox child elemnts
        flex: <flex-grow> <flex-shrink> <flex-basis>;
        flex: 1; means element will auto-resize depending on parent width (shrink / grow)
        flex: 0; means element will not resize (shrink / grow)
        1 - means yes, 0 - means no, flex-basis: elements preffered width
    */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
    height: auto;
    text-align: center;
}

.box > p {
    color: #7c8293;
}

.square-image {
    border-radius: 0.8rem;
    width: 20rem;
    height: auto;
    box-shadow: 0.2rem 0.4rem 20rem #adafb6;
}

.green-text {
    color:#09814A;
}

.quote-wrapper {
    background: #e5e7eb;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 20rem;
}

.quote {
    max-width: 70rem;
}

.quote > p {
    font-size: 3.6rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.author > p {
    font-weight: 800;
    text-align: right;
}

#plant-swap-signup {
    background: #f9faf8;
    padding: 8rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #09814A;
    padding: 5rem 12rem;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.4rem 20rem #adafb6;
    gap: 4rem;
}

.cta-left p {
    margin: 0;
    color:#f9faf8;
    max-width: 50rem;
}

.cta-left .cta-title {
    margin-bottom: 1rem;
}

.secondary-button {
    border: 0.2rem solid #f9faf8;
    border-radius: 0.8rem;
    background: #09814A;
    padding: 0.8rem 2.5rem;
}

.secondary-button:hover {
    background: #f9faf8;
    color: #09814A;
}